// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget {
  text-align: left;

  tr.header {
    border-bottom: solid 1px;
  }
}
.widget-grid {
  #name {
    width: 25%;
  }

  background-color: red;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
